@page "/groupordermembers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FoodDelivery.Domain
@using Food_Delivery.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Food_Delivery.Data.Food_DeliveryContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="groupordermembers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.GroupOrderMember">
    <PropertyColumn Property="groupordermember => groupordermember.JoinTime" />
    <PropertyColumn Property="groupordermember => groupordermember.Status" />
    <PropertyColumn Property="groupordermember => groupordermember.GroupOrderId" />
    <PropertyColumn Property="groupordermember => groupordermember.UserId" />
    <PropertyColumn Property="groupordermember => groupordermember.DateCreated" />
    <PropertyColumn Property="groupordermember => groupordermember.DateUpdated" />
    <PropertyColumn Property="groupordermember => groupordermember.CreatedBy" />
    <PropertyColumn Property="groupordermember => groupordermember.UpdatedBy" />

    <TemplateColumn Context="groupordermember">
        <a href="@($"groupordermembers/edit?id={groupordermember.Id}")">Edit</a> |
        <a href="@($"groupordermembers/details?id={groupordermember.Id}")">Details</a> |
        <a href="@($"groupordermembers/delete?id={groupordermember.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Food_DeliveryContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
